/*html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}*/

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.stuff{
    margin: 0 0 10px 20px;
}

.textField {
    resize: none;
}

#newsHolder{
    padding: 15px 30px 15px 30px;
    text-align: center;
}

.oneNews{
    text-align: left;
    display: inline-block;
    width: 320px;
    height: 400px;
    background-color: white;
    padding: 10px;
    margin: 6px 25px 6px 0;
    border: 1px solid grey;
    border-radius: 5px;
}

.newsButton{
    vertical-align: bottom;
}